n8n/backup/hybrid-rag-pipeline.json
[{"updatedAt":"2026-01-21T16:28:51.000Z","createdAt":"2026-01-21T06:41:25.844Z","id":"vdwsIjmvuxnDK9Sy","name":"Hybrid RAG Pipeline","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag","responseMode":"responseNode","options":{"allowedOrigins":"https://ai4u.strali.solutions"}},"id":"rag-webhook","name":"RAG Request","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"hybrid-rag-webhook"},{"parameters":{"jsCode":"const body = $input.first().json.body || {};\n\nconst query = (body.query || body.question || '').trim();\nif (!query || query.length === 0) {\n  return [{ json: { error: true, message: 'Query is required' } }];\n}\n\nreturn [{\n  json: {\n    query: query.slice(0, 2000),\n    hybrid_mode: body.hybrid_mode !== false && body.mode !== 'vector',\n    vector_limit: Math.min(body.vector_limit || 5, 10),\n    graph_depth: Math.min(body.graph_depth || 2, 3),\n    model: body.model || 'mistral:7b',\n    error: false\n  }\n}];\n"},"id":"validate-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check-error","leftValue":"={{ $json.error }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-valid","name":"Check Valid","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={\"model\": \"nomic-embed-text\", \"prompt\": {{ JSON.stringify($json.query) }}}","options":{}},"id":"embed-query","name":"Embed Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,208]},{"parameters":{"method":"POST","url":"http://elasticsearch:9200/rag-demo/_search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"size\": {{ $('Validate Input').item.json.vector_limit }},\n  \"query\": {\n    \"script_score\": {\n      \"query\": {\"match_all\": {}},\n      \"script\": {\n        \"source\": \"cosineSimilarity(params.query_vector, 'embedding') + 1.0\",\n        \"params\": {\n          \"query_vector\": {{ JSON.stringify($json.embedding) }}\n        }\n      }\n    }\n  }\n}","options":{}},"id":"vector-search","name":"Vector Search (ES)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,208]},{"parameters":{"jsCode":"const esResponse = $input.first().json;\nconst config = $('Validate Input').first().json;\n\nconst hits = esResponse.hits?.hits || [];\nconst vectorResults = hits.map(hit => ({\n  id: hit._id,\n  score: (hit._score - 1).toFixed(4),\n  title: hit._source?.title || 'Untitled',\n  content: hit._source?.content || '',\n  source: hit._source?.source || 'unknown'\n}));\n\n// Build vector context\nlet vectorContext = '';\nif (vectorResults.length > 0) {\n  vectorContext = vectorResults.map((r, i) => \n    `[Document ${i+1}: ${r.title}]\\n${r.content}`\n  ).join('\\n\\n');\n}\n\nreturn [{\n  json: {\n    query: config.query,\n    hybrid_mode: config.hybrid_mode,\n    graph_depth: config.graph_depth,\n    model: config.model,\n    vector_results: vectorResults,\n    vector_context: vectorContext,\n    vector_count: vectorResults.length\n  }\n}];"},"id":"process-vector","name":"Process Vector Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check-hybrid","leftValue":"={{ $json.hybrid_mode }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-hybrid","name":"Hybrid Mode?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1568,208]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.entityRequest) }}","options":{"timeout":90000}},"id":"extract-entities","name":"Extract Query Entities","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,112]},{"parameters":{"jsCode":"const ollamaResponse = $input.first().json.response || '[]';\nconst prevData = $('Process Vector Results').first().json;\n\n// Parse entities from LLM response\nlet entities = [];\nlet content = ollamaResponse.trim();\n\ntry {\n  // Try direct JSON parse first\n  const parsed = JSON.parse(content);\n  if (Array.isArray(parsed)) {\n    entities = parsed.map(e => typeof e === 'string' ? e : (e.text || e.name || e.entity || ''));\n  } else if (parsed.entities && Array.isArray(parsed.entities)) {\n    // Handle {entities: [...]} format\n    entities = parsed.entities.map(e => typeof e === 'string' ? e : (e.text || e.name || e.entity || ''));\n  }\n} catch (e) {\n  // Fallback: try to find a JSON array in the response\n  try {\n    const startIdx = content.indexOf('[');\n    if (startIdx !== -1) {\n      let depth = 0;\n      let endIdx = -1;\n      for (let i = startIdx; i < content.length; i++) {\n        if (content[i] === '[') depth++;\n        if (content[i] === ']') depth--;\n        if (depth === 0) { endIdx = i; break; }\n      }\n      if (endIdx > startIdx) {\n        const arrStr = content.substring(startIdx, endIdx + 1);\n        const arr = JSON.parse(arrStr);\n        entities = arr.map(e => typeof e === 'string' ? e : (e.text || e.name || e.entity || ''));\n      }\n    }\n  } catch (e2) {\n    // Final fallback: extract quoted strings\n    const quoted = content.match(/[\"']([^\"']+)[\"']/g);\n    if (quoted) {\n      entities = quoted.map(s => s.replace(/[\"']/g, ''));\n    }\n  }\n}\n\nentities = entities.filter(e => typeof e === 'string' && e.length > 1).slice(0, 5);\n\nreturn [{\n  json: {\n    ...prevData,\n    extracted_entities: entities\n  }\n}];"},"id":"parse-entities","name":"Parse Entities","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,112]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst entities = data.extracted_entities || [];\nconst depth = data.graph_depth || 2;\n\nif (entities.length === 0) {\n  return [{ json: { ...data, graph_context: '', skip_graph: true } }];\n}\n\n// Build Cypher query to get context for all extracted entities\nconst cypher = `\n  UNWIND $entities AS entityName\n  MATCH (e:Entity)\n  WHERE e.name =~ ('(?i).*' + entityName + '.*')\n  OPTIONAL MATCH (e)-[r1]->(related:Entity)\n  OPTIONAL MATCH (e)<-[r2]-(incoming:Entity)\n  RETURN e.name as entity, e.type as type, e.description as description,\n         collect(DISTINCT {name: related.name, type: related.type, rel: type(r1)})[0..5] as related,\n         collect(DISTINCT {name: incoming.name, type: incoming.type, rel: type(r2)})[0..5] as referenced_by\n  LIMIT 10\n`;\n\nreturn [{\n  json: {\n    ...data,\n    cypher: cypher,\n    cypher_params: { entities: entities },\n    skip_graph: false\n  }\n}];"},"id":"build-graph-query","name":"Build Graph Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check-skip","leftValue":"={{ $json.skip_graph }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"check-graph","name":"Has Entities?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2448,112]},{"parameters":{"method":"POST","url":"http://neo4j:7474/db/neo4j/tx/commit","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"statements\": [{\n    \"statement\": {{ JSON.stringify($json.cypher) }},\n    \"parameters\": {{ JSON.stringify($json.cypher_params) }}\n  }]\n}","options":{"timeout":15000}},"id":"query-graph","name":"Query Graph (Neo4j)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2672,0],"credentials":{"httpBasicAuth":{"id":"LpopbSYdY4wKTbsI","name":"Neo4j Credentials"}}},{"parameters":{"jsCode":"const neo4jResponse = $input.first().json;\nconst prevData = $('Build Graph Query').first().json;\n\nconst results = neo4jResponse.results?.[0]?.data || [];\n\nlet graphContext = '';\nif (results.length > 0) {\n  graphContext = '## Knowledge Graph Context\\n\\n';\n  results.forEach(r => {\n    const row = r.row;\n    graphContext += `### ${row[0]} (${row[1]})\\n`;\n    if (row[2]) graphContext += `${row[2]}\\n`;\n    \n    const related = (row[3] || []).filter(x => x.name);\n    if (related.length > 0) {\n      graphContext += 'Relationships:\\n';\n      related.forEach(rel => {\n        graphContext += `- ${rel.rel} → ${rel.name} (${rel.type})\\n`;\n      });\n    }\n    \n    const refs = (row[4] || []).filter(x => x.name);\n    if (refs.length > 0) {\n      graphContext += 'Referenced by:\\n';\n      refs.forEach(ref => {\n        graphContext += `- ${ref.name} (${ref.type}) via ${ref.rel}\\n`;\n      });\n    }\n    graphContext += '\\n';\n  });\n}\n\nreturn [{\n  json: {\n    query: prevData.query,\n    model: prevData.model,\n    vector_context: prevData.vector_context,\n    vector_count: prevData.vector_count,\n    vector_results: prevData.vector_results,\n    graph_context: graphContext,\n    extracted_entities: prevData.extracted_entities,\n    hybrid_mode: true\n  }\n}];"},"id":"format-graph","name":"Format Graph Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,0]},{"parameters":{"jsCode":"// Pass through for vector-only mode\nconst data = $('Process Vector Results').first().json;\nreturn [{\n  json: {\n    query: data.query,\n    model: data.model,\n    vector_context: data.vector_context,\n    vector_count: data.vector_count,\n    vector_results: data.vector_results,\n    graph_context: '',\n    extracted_entities: [],\n    hybrid_mode: false\n  }\n}];"},"id":"vector-only","name":"Vector Only Mode","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,304]},{"parameters":{"jsCode":"// No entities found, skip graph\nconst data = $('Build Graph Query').first().json;\nreturn [{\n  json: {\n    query: data.query,\n    model: data.model,\n    vector_context: data.vector_context,\n    vector_count: data.vector_count,\n    vector_results: data.vector_results,\n    graph_context: '',\n    extracted_entities: [],\n    hybrid_mode: true\n  }\n}];"},"id":"no-entities","name":"No Entities Found","type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,208]},{"parameters":{"jsCode":"const data = $input.first().json;\n\n// Combine contexts\nlet fullContext = '';\n\nif (data.graph_context) {\n  fullContext += data.graph_context + '\\n';\n}\n\nif (data.vector_context) {\n  fullContext += '## Retrieved Documents\\n\\n' + data.vector_context;\n}\n\nif (!fullContext.trim()) {\n  fullContext = 'No relevant context found.';\n}\n\n// Build prompt\nconst prompt = `You are a helpful assistant. Answer the question based on the provided context. If the context doesn't contain enough information, say so.\n\nContext:\n${fullContext}\n\nQuestion: ${data.query}\n\nAnswer:`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    model: data.model,\n    query: data.query,\n    vector_count: data.vector_count,\n    vector_results: data.vector_results,\n    graph_context_used: !!data.graph_context,\n    hybrid_mode: data.hybrid_mode,\n    extracted_entities: data.extracted_entities\n  }\n}];"},"id":"merge-context","name":"Merge Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,208]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": {{ JSON.stringify($json.model) }},\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 1000\n  }\n}","options":{"timeout":120000}},"id":"generate-answer","name":"Generate Answer (LLM)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3328,208]},{"parameters":{"jsCode":"const llmResponse = $input.first().json;\nconst meta = $('Merge Context').first().json;\n\nreturn [{\n  json: {\n    query: meta.query,\n    answer: llmResponse.response || 'Failed to generate answer.',\n    mode: meta.hybrid_mode ? 'hybrid' : 'vector_only',\n    sources: {\n      vector_documents: meta.vector_results || [],\n      graph_context_used: meta.graph_context_used,\n      entities_extracted: meta.extracted_entities || []\n    }\n  }\n}];"},"id":"format-response","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3552,208]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"success-response","name":"Success Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3760,208]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({error: $json.message}) }}","options":{"responseCode":400}},"id":"error-response","name":"Error Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,400]},{"parameters":{"jsCode":"const data = $input.first().json;\nreturn [{\n  json: {\n    ...data,\n    entityRequest: {\n      model: \"mistral:7b\",\n      prompt: \"Extract entities from: \" + data.query + \". Return JSON array:\",\n      stream: false,\n      options: { temperature: 0.1, num_predict: 100 }\n    }\n  }\n}];"},"id":"prep-entity-request","name":"Prepare Entity Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1750,112]}],"connections":{"RAG Request":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Check Valid","type":"main","index":0}]]},"Check Valid":{"main":[[{"node":"Embed Query","type":"main","index":0}],[{"node":"Error Response","type":"main","index":0}]]},"Embed Query":{"main":[[{"node":"Vector Search (ES)","type":"main","index":0}]]},"Vector Search (ES)":{"main":[[{"node":"Process Vector Results","type":"main","index":0}]]},"Process Vector Results":{"main":[[{"node":"Hybrid Mode?","type":"main","index":0}]]},"Hybrid Mode?":{"main":[[{"node":"Prepare Entity Request","type":"main","index":0}],[{"node":"Vector Only Mode","type":"main","index":0}]]},"Extract Query Entities":{"main":[[{"node":"Parse Entities","type":"main","index":0}]]},"Parse Entities":{"main":[[{"node":"Build Graph Query","type":"main","index":0}]]},"Build Graph Query":{"main":[[{"node":"Has Entities?","type":"main","index":0}]]},"Has Entities?":{"main":[[{"node":"Query Graph (Neo4j)","type":"main","index":0}],[{"node":"No Entities Found","type":"main","index":0}]]},"Query Graph (Neo4j)":{"main":[[{"node":"Format Graph Context","type":"main","index":0}]]},"Format Graph Context":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"Vector Only Mode":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"No Entities Found":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"Merge Context":{"main":[[{"node":"Generate Answer (LLM)","type":"main","index":0}]]},"Generate Answer (LLM)":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Success Response","type":"main","index":0}]]},"Prepare Entity Request":{"main":[[{"node":"Extract Query Entities","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2ecdad25-7a0e-4abd-a23f-655cd4d46016","activeVersionId":"2ecdad25-7a0e-4abd-a23f-655cd4d46016","versionCounter":28,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-21T06:41:25.847Z","createdAt":"2026-01-21T06:41:25.847Z","role":"workflow:owner","workflowId":"vdwsIjmvuxnDK9Sy","projectId":"CgcLErQM5sT9stZ4","project":{"updatedAt":"2026-01-16T14:15:14.721Z","createdAt":"2026-01-16T13:20:26.334Z","id":"CgcLErQM5sT9stZ4","name":"Michael Linder <michael@strali.solutions>","type":"personal","icon":null,"description":null,"creatorId":"ac052f53-adc3-42c9-886e-fe41d19c0ce9"}}]}]
