n8n/backup/semantic-search-api.json
[{"updatedAt":"2026-01-16T15:06:34.000Z","createdAt":"2026-01-16T15:06:10.882Z","id":"PNvSZOSoU5ZcMh6w","name":"Semantic Search API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"search","responseMode":"responseNode","options":{"allowedOrigins":"https://ai4u.strali.solutions"}},"id":"webhook-node","name":"Search Request","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"search-webhook"},{"parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst query = body.query;\nconst limit = body.limit;\n\nif (typeof query !== 'string' || query.trim().length === 0) {\n  return [{\n    json: {\n      error: true,\n      message: 'Invalid query: must be a non-empty string'\n    }\n  }];\n}\n\nconst sanitizedQuery = query.trim().slice(0, 1000);\nconst validLimit = Math.min(Math.max(parseInt(limit) || 5, 1), 20);\n\nreturn [{\n  json: {\n    query: sanitizedQuery,\n    limit: validLimit,\n    error: false\n  }\n}];"},"id":"validate-node","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-error","leftValue":"={{ $json.error }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-node","name":"Check Valid","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={\"model\": \"nomic-embed-text\", \"prompt\": {{ JSON.stringify($json.query) }}}"},"id":"embed-node","name":"Generate Query Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,200]},{"parameters":{"method":"POST","url":"http://elasticsearch:9200/rag-demo/_search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"size\": {{ $('Validate Input').item.json.limit }},\n  \"query\": {\n    \"script_score\": {\n      \"query\": {\"match_all\": {}},\n      \"script\": {\n        \"source\": \"cosineSimilarity(params.query_vector, 'embedding') + 1.0\",\n        \"params\": {\n          \"query_vector\": {{ JSON.stringify($json.embedding) }}\n        }\n      }\n    }\n  }\n}"},"id":"search-node","name":"Search Elasticsearch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,200]},{"parameters":{"jsCode":"const hits = $input.first().json.hits?.hits || [];\nconst results = hits.map(hit => ({\n  id: hit._id,\n  score: (hit._score - 1).toFixed(4),\n  title: hit._source?.title || 'Untitled',\n  content: hit._source?.content || '',\n  source: hit._source?.source || 'unknown',\n  timestamp: hit._source?.timestamp || null\n}));\n\nreturn [{\n  json: {\n    query: $('Validate Input').item.json.query,\n    results: results,\n    total: hits.length\n  }\n}];"},"id":"format-node","name":"Format Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,200]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"id":"success-node","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1560,200]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({error: $json.message}) }}","options":{"responseCode":400}},"id":"error-node","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,400]}],"connections":{"Search Request":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Check Valid","type":"main","index":0}]]},"Check Valid":{"main":[[{"node":"Generate Query Embedding","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Generate Query Embedding":{"main":[[{"node":"Search Elasticsearch","type":"main","index":0}]]},"Search Elasticsearch":{"main":[[{"node":"Format Results","type":"main","index":0}]]},"Format Results":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"9a9e3f7e-fd3c-4ad9-8ca0-6e1bc5cf2f42","activeVersionId":"9a9e3f7e-fd3c-4ad9-8ca0-6e1bc5cf2f42","versionCounter":28,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-16T15:06:10.885Z","createdAt":"2026-01-16T15:06:10.885Z","role":"workflow:owner","workflowId":"PNvSZOSoU5ZcMh6w","projectId":"CgcLErQM5sT9stZ4","project":{"updatedAt":"2026-01-16T14:15:14.721Z","createdAt":"2026-01-16T13:20:26.334Z","id":"CgcLErQM5sT9stZ4","name":"Michael Linder <michael@strali.solutions>","type":"personal","icon":null,"description":null,"creatorId":"ac052f53-adc3-42c9-886e-fe41d19c0ce9"}}]}]
